body {

    background-color: rgb(215, 241, 241);
    font-family: 'Cairo';
}

hr {
    size: 1;
    width: 95%;
    border: hidden;
    border-bottom: 10px dotted rgb(51, 221, 164);
    height: 0px;
}

a {
    text-decoration: none;
    color: rgb(145, 179, 243);
}

h1 {
    font: 'Fuzzy Bubbles';
    color: rgb(138, 78, 4);
    margin-top: -5px;
    margin-bottom: -5px;

}

h2 {
    color: rgb(59, 82, 26);
    font-family: 'Cairo';
    margin-top: -5px;
    margin-bottom: -5px;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(211, 93, 93);
}

table {}
